<form action="register/new" method="post">
    <input type="text" name="username" placeholder="username" />
    <input type="password" name="password" placeholder="password" />
    <button type="submit">Create</button>
</form>
<form action="/login">
    <button type="submit">Back</button>
</form>
